@charset "utf-8";

@import "variables.css";
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* screens */

@import "screen/login.css";
@import "screen/friends.css";
@import "screen/chats.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/chat.css";

/* components */

@import "component/status-bar.css";
@import "component/nav.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/no-mobile.css";

body {
  background-color: var(--midbg);
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 125px;
  padding-bottom: 80px;
}
