:root {
  --darkbg: #000;
  --midbg: #141414;
  --ligbg: #1d1d1d;
  --gray: #606368;
  --pointc: #bb86fc;
  --pointd: #674d87;
  --pointl: #8533ef;
  --fadebgc: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
