.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  width: 95%;
  height: 80px;
  background-color: var(--ligbg);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 15px;
}

.profile__main {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 0;
}

.profile__name {
  font-size: 20px;
  font-weight: 500;
}

.more__profile__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more__profile__content span {
  opacity: 0.3;
  font-size: 12px;
  font-weight: 300;
}

.more__profile__content i {
  margin-left: 5px;
  color: var(--pointc);
}

.profile__info {
  width: 90px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 19px 0 15px 0;
  margin-right: 20px;
  font-size: 12px;
}

.profile__info div {
  width: 40px;
  height: 24px;
  border: 2px solid var(--pointc);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__info div:first-child {
  font-weight: 600;
}

.connect-pay {
  margin: 10px 0;
  padding: 0 15px;
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: var(--ligbg);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: var(--pointc);
  height: 30px;
  width: 70px;
  border-radius: 15px;
}

.pay__credit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo i {
  margin-right: 2px;
}

.logo span {
  font-weight: 600;
}

.pay__btns {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.icon-wraper {
  display: flex;
  height: 300px;
  width: 95%;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-column {
  height: 33%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon i {
  margin-bottom: 10px;
}
